:root {
  margin: 0 0;
  padding: 0 0;
  font-family: "Montserrat", sans-serif;
  font-optical-sizing: auto;
  font-style: normal;
  --bg: #f9fef9;
  --card: #e1d6c4;
  --primary: #3ecf40;  /* amber */
  --secondary: #86b8e1; /* pink */
  --accent: #6f7edb;   /* cyan */
  --text: #061806;
}

@media (prefers-color-scheme: dark) {
  :root {
    --bg: #010401;
    --card: #1e293b;
    --primary: #30c032;  /* amber */
    --secondary: #1f517a; /* pink */
    --accent: #24328f;   /* cyan */
    --text: #e7f9e7;
  }
}

body {
  margin: 0 0;
  padding: 0 0;
  background-color: var(--bg);
  color: var(--text);
}

.App{
  height: 100vh;
  width: 98vw;
  margin: 0 auto;
  padding: 0 0;
  align-self: center;
}

h1{
  margin: 0 0;
  padding: 0 0;
  font-weight: 800;
  letter-spacing: -2px;
}

h2{
  margin: 0 0;
  padding: 0 0;
  font-weight: 500;
  letter-spacing: -2px;
}

h3{
  margin: 0 0;
  padding: 0 0;
  font-weight: 400;
  letter-spacing: -1px;
}

p{
  margin: 0 0;
}

.header{
  text-align: center;
  padding-top: 2vh;
  padding-bottom: 2vh;
}

.header p{
  padding-top: 1vh;
}

.floating-card{
  padding: 5px;
  width: max-content;
  font-weight: bold;
  letter-spacing: -1px;
  background-color: var(--primary);
  box-shadow: 5px 5px 0px var(--accent);
}

.game-selection{
}

.game-list{
  margin-top: 2vh;
  display: flex;
  flex-direction: row;
  gap: 1.5vh;
  flex-wrap: wrap;
  justify-items: center;
}

.game-item{
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  gap: 1vh;
  height: 300px;
  padding: 1vh 1vw;
  border: 3px solid var(--primary);
  background-color: var(--primary);
  box-shadow: 5px 5px 0px var(--accent);
  width: 400px;
}